  <% if  obj.errors.any? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% obj.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
  <% end %>